/*GLOBAL*/
body{
    text-align: center;
}
form{
    display: inline-block;
}
#loginregister{
    background: lightgray;
    display: inline-block;
    border-radius: 5px;
    margin: 20px;
    width: 300px;
    max-width: 300px;
}



/*THE WALL*/
.btn{
    box-shadow: 5px 5px 5px gray;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
}
.delete{
    background: red;
    color: white;
}
.messageblock{
    margin: 10px 0px;
    background: lightblue;
    margin-top: 50px;
}

#postscontainer{
    max-width: 1200px;
    margin: auto;
}
.messagehead{
    text-align: left;
}
.messagecontent{
    font-size: 1.3em;
    text-align: left;
    text-indent: 2em;
    margin-bottom: 50px;
    color: #666;
}

.commentcontainer{
    margin-left: 4em;
}
.commenthead{
    text-align: left;
    text-indent: 2em;
}
.comment{
    text-align: left;
    text-indent: 4em;
    padding-bottom: 10px;
    color: #666;
}
