<html>
<head>
  <title>The Wall</title>
  <!-- CSS W3 -->
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <!-- CSS JQuery UI -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- CSS My Style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- JS JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- JS Jquery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- JS My JS -->
  <script src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
<body>

  <h1 class="w3-animate-zoom">Welcome to the Wall!</h1>
  <h2 class="w3-animate-zoom">Please login or register.</h2>

  <!-- FLASH MESSAGES -->
<ul class="flashes">
  {% with messages = get_flashed_messages(category_filter=["error"], with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <li class="{{ category }}">{{message}}</li>
      {% endfor %}
    {% endif %}
  {% endwith %}
</ul>

<!-- Login -->
<div id="loginregister" class="accordion w3-animate-zoom">
  <h3>Login</h3>
  <form action="/login" method="POST">
    <div class="">
      <label for="user_name" class="">Username:</label>
      <input type="text" name="user_name" id="user_name" class="">
    </div>
    <div class="">
      <label for="email" class="">Password:</label>
      <input type="text" name="pw" id="pw" class="">
    </div>
    <div class="">
      <input type="submit" value="Login" class="">
    </div>
  </form>
<!-- Register -->
  <h3>Register</h3>
  <div>
  <form action='/register' method='POST' class="">
    <div class="">
      <label for="user_name" class="">Username:</label>
      <input type="text" name="user_name" id="user_name" class="">
    </div>
    <div class="">
      <label for="first_name" class="">First Name:</label>
      <input type="text" name="first_name" id="first_name" class="">
    </div>
    <div class="">
      <label for="last_name" class="">Last Name:</label>
      <input type="text" name="last_name" id="last_name" class="">
    </div>
    <div class="">
      <label for="email" class="">Email:</label>
      <input type="text" name="email" id="email" class="">
    </div>
    <div class="">
      <label for="email" class="">Password:</label>
      <input type="text" name="pw" id="pw" class="">
    </div>
    <div class="">
      <label for="email" class="">Confirm Password:</label>
      <input type="text" name="cpw" id="cpw" class="">
    </div>
    <div class="">
      <input type="submit" value="Add" class="">
    </div>    
  </form>
  </div>
</div>
</body>
</html>
