<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registered User</title>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- CSS JQuery UI -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- CSS My Style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- JS JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- JS Jquery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- JS My JS -->
  <script src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
<body>

<h1>Welcome {{ name }}</h1>

<!-- ALL FRIENDS -->
<div id="userscontainer">
{% for users in all_users: %}
  <div class="idcard">
    <div class="idhead">
      <h3>{{ users['first_name'] }} {{ users['last_name'] }}</h3>
    </div>
    <div class="labelvalues">
      <div class="labels">
        <p>ID:</p>
        <p>Username:</p>
        <p>First Name:</p>
        <p>Last Name:</p>
        <p>Email:</p>
        <p>Created:</p>
        <p>Updated:</p>
      </div>
      <div class="values">
        <p>{{ users['id'] }}</p>
        <p>{{ users['user_name'] }}</p>
        <p>{{ users['first_name'] }}</p>
        <p>{{ users['last_name'] }}</p>
        <p>{{ users['email'] }}</p>
        <p>{{ users['created_at'] }}</p>
        <p>{{ users['updated_at'] }}</p>
      </div>
    </div>
    <!-- EDIT -->
    <a href="/users/{{ users['id'] }}/edit" class="btn btn-info">Edit</a>
    <!-- DELETE -->
    <form action="/users/{{ users['id'] }}/delete" method="POST">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </div>
{% endfor %}
</div>
	
</body>
</html>