<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Wall</title>
	<!-- CSS W3 -->
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<!-- CSS JQuery UI -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<!-- CSS My Style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- JS JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- JS Jquery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<!-- JS My JS -->
	<script src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
<body>
<ul class="w3-navbar w3-card-8 w3-light-grey w3-xlarge">
	<li><a href="/wall">The Wall</a></li>
	<li class="w3-right"><a href="/logout">Logout</a></li>
	<li class="w3-right"><a href="#">Welcome {{ name }}</a></li>
</ul>


<h1>Hey, {{ name }},</h1>
<h2>Leave a Message!</h2>
<form action="/message" method="POST">
	<textarea name="message" id="messagepost" cols="120" rows="5"></textarea><br>
	<input type="submit" value="Post a Message" class="w3-btn w3-indigo btn">
</form>

<div id="postscontainer">
{% set last_mess_id = -1 %}
{% for messages in all_messages: %}
	<div class="w3-container w3-leftbar">
		{% if last_mess_id != messages['message_id'] %}
			<div class="w3-container w3-leftbar messageblock">
				<div class="messagehead">
					<h3><b>{{ messages['message_user_name'] }}</b> {{ messages['created_at'] }}</h3>
				</div>
				<div class="messagecontent w3-container">
					<p>{{ messages['message'] }}</p>
				</div>
				<div class="">
					<form action="/comment" method="POST">
						<textarea name="comment" cols="120" rows="5"></textarea>
						<input type="hidden" name="action" value="{{ messages['message_id'] }}"><br>
						<input type="submit" value="Post a Comment" class="w3-btn w3-green btn">
					</form>
				</div>
			</div>
		{% endif %}
		{% set last_mess_id = messages['message_id'] %}
		{% if messages['comment_id'] != None %}
			<div class="w3-leftbar w3-sand commentcontainer">
				<div class="commenthead">
					<h3><b>{{ messages['commenting_user'] }}</b> {{ messages['comment_created_at']}}</h3>
				</div>
				<div class="comment">
					<p>"{{ messages['comment'] }}"</p>
				</div>	
			</div>
		{% endif %}
	</div>
{% endfor %}
</div>



	
</body>
</html>